/* Navigator */
.nav {
    background-color: #d3d3d3;
    border-radius: 4px;
    font-weight: bold;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px; /* Make the masthead heading the same height as the navigation */
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.judullaman {
  margin-bottom: 20px;
  background-color: #B3C8CF;
  text-align: center;
  padding: 20px;
  font-size: 28px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #463f3f;
  border-radius: 5px;
  font-weight: bold;
}

.mainpage {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
}

.homeimage {
  text-align: center;
}

img.koverdepan {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  display: -webkit-box;
}

a.menuseleksi {
  font-size: 16pt;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: -.022em;
  text-align: center;
  margin: 25px;
  color: #000;
}

.menutitle {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  text-decoration: none;
  text-align: center;
  background-color: rgb(119, 107, 93);
  color: #fff;
  font-weight: 300;
  padding: 10px;
  font-size: 18pt;
  border-radius: 5px;
}

/* Customize container */
@media (min-width: 50%) {
  .container {
    max-width: 75%;
    margin: 25%;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Daftar Isi */
.menuseleksi {
}
.wrapper-menuutama {
text-align: center;
margin-top: 20px;
}
.menubox {
  padding: 15px;
  border: 1px solid;
  background-color: rgb(241, 238, 220);
  cursor: pointer;
  display: inline;
}

.kaki {
  padding-left: 50px;
  color: #777;
}